![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Revisiting Machine Learning Case Study

- In this lab, you will use `learningSet.csv` file which you already have cloned in today's activities. 

### Instructions

Complete the following steps on the categorical columns in the dataset:

- Check for null values in all the columns
- Exclude the following variables by looking at the definitions. Create a new empty list called `drop_list`. We will append this list and then drop all the columns in this list later:
    - `OSOURCE` - symbol definitions not provided, too many categories
    - `ZIP CODE` - we are including state already
- Identify columns that over 85% missing values
- Remove those columns from the dataframe
- Reduce the number of categories in the column `GENDER`. The column should only have either "M" for males, "F" for females, and "other" for all the rest
    - Note that there are a few null values in the column. We will first replace those null values using the code below:

    ```python
    print(categorical['GENDER'].value_counts())
    categorical['GENDER'] = categorical['GENDER'].fillna('F')
    ```

In [1]:
# Prepare toolbox

import pandas as pd
import numpy as np
import datetime

In [2]:
df = pd.read_csv('../learningSet.csv')
df.shape

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(95412, 481)

In [3]:
df.describe()

,ODATEDW,TCODE,DOB,AGE,NUMCHLD,INCOME,WEALTH1,HIT,MBCRAFT,MBGARDEN,...,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,TARGET_B,TARGET_D,HPHONE_D,RFA_2F,CLUSTER2
count,95412.000000,95412.000000,95412.000000,71747.000000,12386.000000,74126.000000,50680.000000,95412.000000,42558.000000,42558.000000,...,95412.000000,85439.000000,85439.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95280.000000
mean,9141.363256,54.223117,2723.602933,61.611649,1.527773,3.886248,5.345699,3.321438,0.152075,0.059166,...,9135.651648,9151.022917,8.093739,13.347786,95778.176959,0.050759,0.793073,0.500618,1.910053,31.533711
std,343.454752,953.844476,2132.241295,16.664199,0.806861,1.854960,2.742490,9.306899,0.470023,0.262078,...,320.394019,294.257260,8.213242,10.769997,55284.596094,0.219506,4.429725,0.500002,1.072749,18.764614
min,8306.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,7211.000000,0.000000,1.285714,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,8801.000000,0.000000,201.000000,48.000000,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,...,8810.000000,8903.000000,4.000000,8.384615,47910.750000,0.000000,0.000000,0.000000,1.000000,15.000000
50%,9201.000000,1.000000,2610.000000,62.000000,1.000000,4.000000,6.000000,0.000000,0.000000,0.000000,...,9201.000000,9204.000000,6.000000,11.636364,95681.500000,0.000000,0.000000,1.000000,2.000000,32.000000
75%,9501.000000,2.000000,4601.000000,75.000000,2.000000,5.000000,8.000000,3.000000,0.000000,0.000000,...,9409.000000,9409.000000,11.000000,15.477955,143643.500000,0.000000,0.000000,1.000000,3.000000,49.000000
max,9701.000000,72002.000000,9710.000000,98.000000,7.000000,7.000000,9.000000,241.000000,6.000000,4.000000,...,9603.000000,9702.000000,1088.000000,1000.000000,191779.000000,1.000000,200.000000,1.000000,4.000000,62.000000

In [4]:
df['RDATE_5'].isna().sum()

95403

- Check for null values in all the columns

In [5]:
nulls = pd.DataFrame(df.isna().sum()*100/len(df), columns=['percentage_nulls'])
nulls.sort_values('percentage_nulls', ascending = False).head(80)

          percentage_nulls
RDATE_5          99.990567
RAMNT_5          99.990567
RDATE_3          99.746363
RAMNT_3          99.746363
RDATE_4          99.705488
...                    ...
ADATE_16         21.343227
ADATE_14         19.774242
ADATE_9          11.785729
ADATE_11         10.923154
NEXTDATE         10.452564

[80 rows x 1 columns]

- Exclude the following variables by looking at the definitions. Create a new empty list called `drop_list`. We will append this list and then drop all the columns in this list later:
    - `OSOURCE` - symbol definitions not provided, too many categories
    - `ZIP CODE` - we are including state already

In [6]:
drop_list=['OSOURCE','ZIP']
#I don't understand the part of "exclude by looking at the definitions"
drop_list

['OSOURCE', 'ZIP']

- Identify columns that over 85% missing values

In [7]:
drop_list=drop_list+(list(nulls[nulls['percentage_nulls'] > 15].index))

- Remove those columns from the dataframe

In [8]:
cols_to_keep=list(df.columns)

In [9]:
[cols_to_keep.remove(col) for col in drop_list]
cols_to_keep = list(set(cols_to_keep))
#sorted(cols_to_keep)

In [10]:
df_clean=df[cols_to_keep].dropna()

- Reduce the number of categories in the column `GENDER`. The column should only have either "M" for males, "F" for females, and "other" for all the rest
    - Note that there are a few null values in the column. We will first replace those null values using the code below:

    ```python
    print(categorical['GENDER'].value_counts())
    categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [11]:
df_clean['GENDER'].value_counts()

F    38770
M    29001
      2058
U     1345
J      305
C        2
A        2
Name: GENDER, dtype: int64

In [12]:
df_clean['GENDER']=df_clean['GENDER'].replace(to_replace=' ', value='F')
to_replace_=['U','J','A','C']
[df_clean['GENDER'].replace(to_replace=i, value='other',inplace=True) for i in to_replace_]
df_clean['GENDER'].value_counts()

F        40828
M        29001
other     1654
Name: GENDER, dtype: int64